// カラー
$font-color: #444;
$font-color-white: #fff;
$accent-color: #21a937;
$bottom-color: #99e5a5;
$item-border-color: #c9c9c9;
$back-color: #fff;
$category-back-color: #444;
$back-accent-color: #f5fcf8;
$border-color: #e7e7e7;
$arrow-color: #444;
