//============================================
//  Layout Settings
//============================================

// Contentの幅
$content-width: 1920px;

// Contentのインナー
$content-width-inner: 1180px;

// ブレイクポイント
$breakpoints: (
  "sp": "screen and (min-width: 360px)",
  "sm": "screen and (min-width: 576px)",
  "tab": "screen and (min-width: 768px)",
  "lg": "screen and (min-width: 992px)",
  "pc": "screen and (min-width: #{$content-width-inner})",
  "xl": "screen and (min-width: 1200px)",
  "xxl": "screen and (min-width: 1400px)",
);
